/* Ava Styles */
.nav-fixed__text-ava {
  font-size: 14px;
}

.nav-fixed__text-ava a {
  text-decoration: none;
  font-size: 14px;
  padding: 7px 13px;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.nav-fixed__text-ava a:first-child {
  border: 1px solid #666666;
  color: #666666;
  margin-right: 8px;
}

.nav-fixed__text-ava a:last-child {
  background: #2465f7;
  color: #f4f7ff;
  margin-left: 8px;
}

.nav-fixed__text-ava a:last-child:hover {
  background: #427af7;
}

.view-block {
  bottom: -80px;
  left: 0;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  color: #f7f7f7;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s ease;
}

.view-block p {
  width: 100%;
  font-size: 15px;
}

/* Introduction */
.introduction {
  padding: 100px 0;
}

.introduction__wrapper {
  width: 650px;
  margin-bottom: 60px;
}

.introduction__wrapper .introduction__title {
  color: #292929;
  margin-bottom: 20px;
}

.introduction__wrapper .introduction__text {
  color: #646464;
  line-height: 1.8em;
  font-size: 17px;
  margin-bottom: 20px;
}

.introduction__wrapper .introduction__list {
  list-style-type: disk;
  margin-left: 17px;
  margin-bottom: 20px;
}

.introduction__wrapper .introduction__list li {
  margin-bottom: 9px;
  color: #646464;
  line-height: 1.8em;
  display: list-item;
  font-size: 17px;
}

.introduction__wrapper .introduction__link {
  color: #646464;
  font-size: 18px;
}

.introduction__wrapper .introduction__link span {
  opacity: 0;
  transition: all 0.3s ease;
}

.introduction__wrapper .introduction__link:hover {
  color: #2465f7;
}

.introduction__wrapper .introduction__link:hover span {
  opacity: 1;
}

.introduction__wrapper img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Features */
.features__item {
  width: 940px;
  border-bottom: 1px solid #eeeeee;
  padding: 35px 0;
  overflow: hidden;
  cursor: pointer;
}

.features__item .features__title {
  font-size: 28px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.features__item .features__open {
  font-size: 50px;
  font-weight: 300;
  transition: all 0.3s ease;
  cursor: pointer;
}

.features__item .features__open.features__open_rotate {
  transform: rotate(45deg);
}

.features__item:hover .features__title, .features__item:hover .features__open {
  color: #2465f7;
}

.features__item .features__item-drop-wrap {
  margin-top: -1200px;
  transition: all 0.3s ease;
}

.features__item .features__item-drop-wrap.feature_show {
  margin-top: 0;
}

.features__item .features__item-dropdown {
  height: auto;
  overflow: hidden;
}

.features__item .features__item-dropdown .features__item-dropdown-inner {
  padding: 40px 0 0 0;
}

.features__item .features__item-dropdown .features__item-dropdown-inner .feature__one-title {
  font-size: 21px;
  font-weight: 600;
}

.features__item .features__item-dropdown .features__item-dropdown-inner .feature__one-desc-item {
  width: 320px;
  line-height: 1.8em;
  color: #656565;
}

.features__item .features__item-dropdown .features__item-dropdown-inner .feature__one-desc-item strong {
  color: #292929;
}

.features__item .features__item-dropdown .features__item-dropdown-inner .feature__one-desc-item:last-child {
  margin-left: 65px;
}

.features__item .features__item-dropdown .feature__one-desc-row {
  margin-bottom: 45px;
}

.features__item .feature__hr {
  height: 1px;
  border: none;
  background: #eee;
}

/* Price */
.price {
  padding: 100px 0 70px 0;
  overflow: hidden;
}

.price .price__item {
  padding: 77px 100px;
  cursor: pointer;
  text-decoration: none;
}

.price .price__item .price__heading {
  font-size: 15px;
  color: #292929;
  margin-bottom: 30px;
}

.price .price__item .price__cost {
  margin-bottom: 25px;
}

.price .price__item .price__cost span {
  font-size: 100px;
  font-weight: 300;
  display: inline-block;
  color: #292929;
}

.price .price__item .price__cost .bux {
  font-size: 19px;
  margin-right: 8px;
  margin-top: 10px;
  margin-left: 10px;
}

.price .price__item .price__list {
  color: #757575;
  margin-bottom: 30px;
}

.price .price__item .price__list li {
  font-size: 14px;
  margin-bottom: 17px;
}

.price .price__item .price__hr {
  border: none;
  height: 1px;
  background: #292929;
  margin-bottom: 40px;
  width: 20px;
}

.price .price__item * {
  cursor: pointer;
  z-index: 100;
}

.price .price__item .price__bg {
  background: #f6f6f6;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.price .price__item .price__bg.onleft {
  left: -410px;
}

.price .price__item .price__bg.onright {
  left: 430px;
}

.price .price__item .price__popular {
  width: 80px;
  height: 80px;
  background: #2465f7;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
}

.price .price__item:hover .price__popular {
  opacity: 1;
}
