@font-face {
  font-family: 'Jaapokkisubtract';
  src: url("../fonts/JaapokkisubtractRegular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/JaapokkisubtractRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/JaapokkisubtractRegular.woff2") format("woff2"), url("../fonts/JaapokkisubtractRegular.woff") format("woff"), url("../fonts/JaapokkisubtractRegular.ttf") format("truetype"), url("../fonts/JaapokkisubtractRegular#svgFontName") format("svg");
  /* Legacy iOS */
}

/* Specification */
body {
  font-family: 'Jaapokkisubtract', sans-serif;
  color: #131331;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.m-auto {
  margin: 0 auto;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start-h {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-end-h {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-start-v {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-end-v {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

div, a, span, input, textarea, button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea, button {
  outline: none;
}

h1, h2, h3, h4, p, span {
  cursor: default;
  margin: 0;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.circle {
  height: 190px;
  width: 190px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, from(#5d0b64), to(#2d0fb1));
  background: -webkit-linear-gradient(bottom, #5d0b64, #2d0fb1);
  background: -o-linear-gradient(bottom, #5d0b64, #2d0fb1);
  background: linear-gradient(to top, #5d0b64, #2d0fb1);
}

.circle.circle_light {
  background: -webkit-gradient(linear, left top, right bottom, from(#2b056b), to(#0025af)) !important;
  background: -webkit-linear-gradient(top left, #2b056b, #0025af) !important;
  background: -o-linear-gradient(top left, #2b056b, #0025af) !important;
  background: linear-gradient(to bottom right, #2b056b, #0025af) !important;
}

.circle_animate {
  -webkit-animation: scaleUp 0.3s ease;
          animation: scaleUp 0.3s ease;
}

/* Main */
.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Particles Background */
.main .particles-bg {
  height: inherit;
  width: inherit;
  background: -webkit-gradient(linear, left bottom, left top, from(#020209), to(#090d39));
  background: -webkit-linear-gradient(bottom, #020209, #090d39);
  background: -o-linear-gradient(bottom, #020209, #090d39);
  background: linear-gradient(to top, #020209, #090d39);
}

.main .particles-bg .main__wrapper {
  height: 90%;
  width: 90%;
  background: rgba(20, 20, 47, 0.97);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.main .particles-bg .main__wrapper .circles__wrapper {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.main .particles-bg .main__wrapper.main__wrapper_light {
  background: rgba(100, 42, 246, 0.86);
}

.main .particles-bg .sidebar {
  width: 350px;
  right: -350px;
  height: 100%;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#020209), to(#090d39));
  background: -webkit-linear-gradient(bottom, #020209, #090d39);
  background: -o-linear-gradient(bottom, #020209, #090d39);
  background: linear-gradient(to top, #020209, #090d39);
  z-index: 40;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 100px 20px 50px 30px;
}

.main .particles-bg .sidebar .close {
  color: #f3f3f3;
  top: 20px;
  left: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.main .particles-bg .sidebar .close:hover {
  color: #bdc3ff;
  border-bottom: 2px solid #bdc3ff;
}

.main .particles-bg .sidebar .sidebar__heading {
  color: #fafafa;
}

.main .particles-bg .sidebar .sidebar__heading .sidebar__title {
  font-size: 40px;
}

.main .particles-bg .sidebar .sidebar__hr {
  width: 20%;
  height: 2px;
  background: #fafafa;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-bottom: 50px;
}

.main .particles-bg .sidebar .sidebar__setting-title {
  margin-right: 13px;
  font-weight: 400;
  font-size: 18px;
}

.main .particles-bg .sidebar .sidebar__set-label {
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.main .particles-bg .sidebar .sidebar__set-input {
  cursor: pointer;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.main .particles-bg .sidebar #dark_theme, .main .particles-bg .sidebar #speed_fast, .main .particles-bg .sidebar #speed_medium, .main .particles-bg .sidebar #free_mode {
  margin-right: 13px;
}

.main .particles-bg .sidebar .sidebar__speed, .main .particles-bg .sidebar .sidebar__mode {
  margin-top: 30px;
}

.main .particles-bg .sidebar .save-btn {
  margin-top: 40px;
  background: -webkit-gradient(linear, left top, right bottom, from(#1200ff), to(#10024b));
  background: -webkit-linear-gradient(top left, #1200ff, #10024b);
  background: -o-linear-gradient(top left, #1200ff, #10024b);
  background: linear-gradient(to bottom right, #1200ff, #10024b);
  padding: 10px 30px;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #fafafa;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main .particles-bg .sidebar .save-btn:hover {
  -webkit-box-shadow: 0 0 20px #1a008b;
          box-shadow: 0 0 20px #1a008b;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.main .particles-bg .sidebar .save-btn.save-btn_light {
  background: -webkit-gradient(linear, left top, right bottom, from(#a734ff), to(#6c1a80));
  background: -webkit-linear-gradient(top left, #a734ff, #6c1a80);
  background: -o-linear-gradient(top left, #a734ff, #6c1a80);
  background: linear-gradient(to bottom right, #a734ff, #6c1a80);
}

.main .particles-bg .sidebar .save-btn.save-btn_light:hover {
  -webkit-box-shadow: 0 0 20px #691b7c;
          box-shadow: 0 0 20px #691b7c;
}

.main .particles-bg .sidebar.sidebar_light {
  background: -webkit-gradient(linear, left bottom, left top, from(#5d218c), to(#ae25d0));
  background: -webkit-linear-gradient(bottom, #5d218c, #ae25d0);
  background: -o-linear-gradient(bottom, #5d218c, #ae25d0);
  background: linear-gradient(to top, #5d218c, #ae25d0);
}

.main .particles-bg .controls {
  height: 90%;
  width: 65px;
  top: 35px;
  left: 0;
}

.main .particles-bg .controls .control__item {
  font-size: 40px;
  color: #f1f1f1;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: .75;
}

.main .particles-bg .controls .control__item:hover {
  color: #4758ff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.main .particles-bg .controls .control__item:active {
  color: #1c7220;
}

.main .particles-bg .controls .control__item.control__item_light:hover {
  color: #9d21bc;
}

.main .particles-bg .open-btn {
  top: 35px;
  right: 10px;
  height: 40px;
  width: 50px;
  background: #4758ff;
  opacity: 0.4;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* Light Theme for Open Sidebar Button */
}

.main .particles-bg .open-btn .open-btn__wrapper {
  height: auto;
  width: 80%;
}

.main .particles-bg .open-btn .open-btn__wrapper span {
  width: 100%;
  height: 4px;
  background: #e2e4f8;
  cursor: pointer;
}

.main .particles-bg .open-btn .open-btn__wrapper span:nth-child(2) {
  margin: 4px 0;
}

.main .particles-bg .open-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.main .particles-bg .open-btn.open-btn_light {
  background: #8026c6;
}

.main .particles-bg.particles-bg_light {
  background: -webkit-gradient(linear, left bottom, left top, from(#b570f5), to(#bbabff));
  background: -webkit-linear-gradient(bottom, #b570f5, #bbabff);
  background: -o-linear-gradient(bottom, #b570f5, #bbabff);
  background: linear-gradient(to top, #b570f5, #bbabff);
}

.main .author {
  color: #c8c8c8;
  bottom: 5px;
  left: 10px;
  font-size: 14px;
  pointer-events: none;
}

.main .on-sidebar-active {
  background: rgba(0, 0, 0, 0.7);
  z-index: -100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .body-shadow {
  z-index: 30;
  opacity: 1;
}

.main .timer {
  height: 100%;
  z-index: 35;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.main .timer span {
  font-size: 200px;
  color: #fff;
  font-weight: 600;
}

.play-inactive {
  opacity: .3 !important;
  pointer-events: none;
}

.circle-blow {
  z-index: 1;
}

.saved-text {
  color: #fff;
  border: 4px solid #43bf07;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  padding: 30px 50px;
  cursor: default;
  pointer-events: none;
  top: -100px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 60;
  background: rgba(0, 0, 0, 0.2);
}

.click {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 200px;
  z-index: 35;
  width: 100%;
  top: 0;
  left: 0;
  cursor: default;
}

.low_index {
  z-index: -100;
}

.game-over {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  top: 0;
  left: 0;
}

.game-over .game-over__inner {
  width: 80%;
  height: 80%;
  background: transparent;
}

.game-over .game-over__inner .game-over__title {
  font-size: 100px;
}

.game-over .game-over__inner .game-over__score {
  font-size: 50px;
}

.game-over .continue-btn {
  margin-top: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#1200ff), to(#10024b));
  background: -webkit-linear-gradient(top left, #1200ff, #10024b);
  background: -o-linear-gradient(top left, #1200ff, #10024b);
  background: linear-gradient(to bottom right, #1200ff, #10024b);
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 12px 25px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.game-over .continue-btn:hover {
  -webkit-box-shadow: 0 0 20px #1a008b;
          box-shadow: 0 0 20px #1a008b;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.game-over .continue-btn.continue_light {
  background: -webkit-gradient(linear, left top, right bottom, from(#a734ff), to(#6c1a80));
  background: -webkit-linear-gradient(top left, #a734ff, #6c1a80);
  background: -o-linear-gradient(top left, #a734ff, #6c1a80);
  background: linear-gradient(to bottom right, #a734ff, #6c1a80);
}

.game-over .continue-btn.continue_light:hover {
  -webkit-box-shadow: 0 0 20px #691b7c;
          box-shadow: 0 0 20px #691b7c;
}

.show-score {
  width: 100%;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 20px;
}
