.offer-pricing {
  padding: 100px 0 0 0;
}

/* Q&A */
.qa {
  padding: 65px 0;
}

.qa .qa__wrapper {
  padding: 0 95px;
}

.qa .qa__wrapper .qa__col {
  width: 430px;
  margin-bottom: 55px;
}

.qa .qa__wrapper .qa__col .qa__col-title {
  font-size: 20px;
  color: #292929;
  margin-bottom: 20px;
}

.qa .qa__wrapper .qa__col .qa__col-text {
  font-size: 17px;
  color: #505050;
  line-height: 1.8em;
}

.qa .qa__wrapper .qa__col .qa__col-par {
  margin-top: 20px;
}

/* Testimonials */
.test-pricing {
  padding-top: 10px;
}