/* 1080 - 1166 px */
@media screen and (max-width: 1166px) {
    .container { width: 90%; }
    
    /* Hero Section */
    .header__menu-button { display: block; }
    
    .header__navigation-menu { display: none; }
    
    /* Focus Section */
    .focus__block-items { display: block; padding-top: 300px; }
    
    .focus__block-items-item { display: block; width: 100%; margin-top: 30px; height: auto; }
    
    /* Portfolio Section */
    .portfolio__wrapper-row { display: block; }
    
    .portfolio__wrapper-item { display: block; margin: 30px auto; }
    
    /* Team Section */
    .team__wrapper-items { display: block; }
    
    .team__wrapper-items-item { display: block; margin: 30px auto; }
    
    .team__wrapper-items-item:first-child { float: left; }
    
    .team__wrapper-items-item:nth-child(2) { float: right; }
    
    .team__wrapper-desc-item .team__wrapper-desc-shape { display: none; }
    
    .team__about-mate { width: 70%; }
    
    .team__mate-socials { width: 30%; }
    
    .team__wrapper-desc { height: 370px; }
    
    /* Steps Section */
    
    .steps__item-desc { left: -190px; }
    
    .steps__wrapper-inner-item:nth-child(2) .steps__item-desc, .steps__wrapper-inner-item:nth-child(4) .steps__item-desc { left: 291px; }
    
    /* Pricing Section */
    .pricing__wrapper-inner { display: block; }
    
    .pricing__wrapper-inner-item { display: block; width: 100%; height: auto; margin-top: 30px; }
    
    /* Testimonials Section */
    .test__carousel-item, .test__carousel { width: 100%; height: 800px; }
    
    .test__carousel-item-inner, .test__item-inner-preview { position: static; width: 100%; }
    
    .test__item-inner-preview img { display: block; margin: 0 auto; }
    
    .test__item-inner-preview-desc { width: 100%; top: 460px; }
    
    .test .slick-dots { text-align: center; bottom: -30px; }

    /* Why Select Us Section */
    .select-us__row { display: block; }
    
    .select-us__row-item { display: block; width: 60%; margin: 100px auto; text-align: center; }
    
    .select-us__row-item-header { display: block; text-align: center; width: 100%; }
    
    .select-us__row-item:last-child .select-us__row-item-header { width: 100%; }
    
    /* Blog Section */
    .blog__wrapper-inner { display: block; }
    
    .blog__wrapper { padding-top: 290px; }
    
    .blog__inner-right, .blog__inner-left { margin: 50px auto; }
}

/* 768 - 1023 px */
@media screen and (max-width: 1023px) {
    /* Hero Section */
    .header { padding-bottom: 70px; }
    
    .offer__text-title { font-size: 40px; }
    
    .offer__features { width: 100%; }
    
    .offer__features-inner { display: block; }
    
    .offer__features-item { display: block; margin: 60px auto; }
    
    .offer__features-item-text { margin-top: 10px; }
    
    /* About Section */
    .about { height: 1200px; }
    
    .about__inner-foto { width: 500px; margin: 0 auto; }
    
    .about__inner-desc { width: 100%; right: 0; top: 700px; }
    
    /* Team Section */
    .team__wrapper-items-item:first-child, .team__wrapper-items-item:nth-child(2) { float: none; }
    
    .team__wrapper-desc { height: 450px; }
    
    .team__wrapper-desc-item-typo { display: block; }
    
    .team__about-mate { width: 100%; }
    
    .team__mate-socials { width: 100%; }
    
    .team__mate-socials { float: left; margin: 30px 0 0 0; }
    
    .team__wrapper-desc-item { padding: 30px; }
    
    /* Steps Section */
    .steps__wrapper-inner { padding-top: 250px; }
    
    .steps .steps__wrapper-inner-item { background: none; }
    
    .steps__wrapper-inner-item, .steps__item-desc { position: static; width: 100%; }
    
    .steps__item-desc { margin-top: 70px; }
    
    /* Testimonials Section */
    .test__item-inner-preview-desc { height: 350px; }
    
    .test__carousel-item { height: 900px; }
    
    .test .slick-dots { bottom: -60px; }
    
    /* Why SElect Us Section */
    .select-us__wrapper { padding-top: 220px; }
    
    /* Footer Section */
    .footer { padding-bottom: 90px; }
    
    .footer__wrapper { padding-top: 220px; }
    
    .footer__form-row { display: block; }
    
    .footer__input { width: 100%; margin-top: 30px; }
    
    .footer__form { width: 100%; }
    
    .footer__form-row { margin-bottom: 0; }
    
    .footer__inner-contacts-block { height: auto; padding: 30px 0; text-align: center; }
    
    .footer__inner-contacts-block-wrapper { display: block; }
    
    .footer__contacts-item { padding: 0 20px; width: 100%; margin-top: 50px; }
    
    .footer__contacts-text, .footer__contacts-list { margin-top: 10px; }
}


/* 600 - 767 px */
@media screen and (max-width: 767px) {
    /* Header Section */
    .offer__text-title { font-size: 35px; }
    
    /* About Us Section */
    .about__desc-wrapper { left: 20px; width: 90%; }
    
    /* Team Section */
    .team__wrapper-desc { height: 550px; }
    
    .team__about-mate-text { width: 95%; }
    
    /* Testimonials Section */
    .test__item-inner-preview-desc { height: 400px; }
    
    .test .slick-dots { bottom: -100px; }
    
    /* Why Select Us Section */
    .select-us__footer-text { display: block; margin-bottom: 50px; }
}


/* 480 - 599 px */
@media screen and (max-width: 599px) {
    .block-title__inner-text { width: 90%; margin: 10px auto; display: block; }
    
    .block-title__inner-typo { width: 90%; margin: 0 auto; position: static; padding-top: 120px; }
    
    /* About Sction */
    .about { padding-bottom: 100px; }
    
    .about__inner-foto { width: 100%; }
    
    .about__inner-desc { top: 600px; height: 550px; }
    
    /* Focus, Portfolio, Team, Steps, Pricing, Testimonials, Select Us, Blog, Footer Sections */
    .focus__block-items, .portfolio__wrapper, .team__wrapper-items, .steps__wrapper-inner, .pricing__wrapper, .test__wrapper, .select-us__wrapper, .blog__wrapper, .footer__wrapper { padding-top: 40px; }
    
    /* Team Section */
    .team__wrapper-desc { height: 580px; }
    
    /* Statistic Section */
    .stats__wrapper { display: block; }
    
    .stats__wrapper-item { width: 100%; margin-top: 100px; }
    
    /* Testimonials Section */
    .test { height: 1200px; }
    
    .test__item-inner-preview-desc { height: 480px; }
    
    .test__carousel-item { height: 1000px; }
    
    .test .slick-dots { bottom: -200px; }
    
    /* Blog SEction */
    .blog { padding-bottom: 100px; }
    
    .blog__inner-right, .blog__inner-left { width: 100%; }
    
    .blog__inner-left-item, .blog__inner-right-item { height: auto; }
    
    /* Subscribe Section */
    .subscribe__wrapper-inner { width: 100%; }
}


/* 425 - 479 px */
@media screen and (max-width: 479px) {
    /* Hero Section */
    .slide-out-menu { width: 300px; }
    
    /* Team Section */
    .team__wrapper-desc { height: 600px; }
    
    /* Steps Section */
    .steps__item-desc { height: auto;}
    
    /* Testimonials Section */
    .test { height: 1200px; }
    
    .test__item-inner-preview-desc { height: 450px; }
    
    .test__carousel-item { height: 1400px; }
    
    .test .slick-dots { bottom: -180px; }
    
    .test__item-desc-typo { padding: 30px 20px; }
    
    /* Select Us Section */
    .select-us__footer-text { width: 80%; margin: 0 auto 40px auto; }
}


/* 375 - 424 px */
@media screen and (max-width: 424px) {
    /* About Section */
    .about { height: 1100px; }
    
    .about__inner-desc { top: 500px; height: 600px;}
    
    /* Portfolio Section */
    .portfolio__wrapper-item { width: 100%; }
    
    /* Team Section */
    .team__wrapper-desc { height: 700px; }
    
    /* Steps Section */
    .steps__item-desc { margin-top: 150px; }
    
    /* Testimonials Section */
    .test__item-inner-preview img { width: 100%; }
}


/* 320 - 374 px */
@media screen and (max-width: 374px) {
    /* About Section */
    .about { height: 1200px; }
    
    .about__inner-desc { top: 500px; height: 650px; }
    
    /* Team Section */
    .team__wrapper-desc { height: 730px; }
    
    /* Steps Section */
    .steps__item-desc-inner-right-header { font-size: 20px; }
    
    /* Pricing Section */
    .pricing__item-footer-btn { padding: 10px 10px; }
    
    /* Testimonials Section */
    .test__item-inner-preview-desc { height: 500px; }
    
    .test .slick-dots { bottom: -210px; }
    
    /* Subscribe SEction */
    .subscribe__form-btn { font-size: 13px; }
}
