/* Themes Styles */
.offer__text a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #0022ff;
}

.offer__text a:hover {
  text-decoration: underline;
}

.nav-fixed {
  width: 100%;
  height: 65px;
  z-index: 1010;
  background: #fff;
  padding-top: 17px;
  transition: all 0.3s ease;
  top: -65px;
}

.nav-fixed .nav-fixed__filter {
  cursor: pointer;
}

.nav-fixed .nav-fixed__filter i {
  font-size: 24px;
  transition: all 0.3s ease;
  color: #292929;
  opacity: 1;
}

.nav-fixed .nav-fixed__filter i:last-child {
  font-size: 20px;
}

.nav-fixed .nav-fixed__filter i.f_nav_opac {
  opacity: 0 !important;
}

.nav-fixed .nav-fixed__filter span {
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  color: #292929;
  padding-left: 35px;
  padding-top: 2px;
}

.nav-fixed .nav-fixed__filter:hover i {
  color: #575757;
}

.nav-fixed .nav-fixed__filter:hover span {
  color: #575757;
}

.nav-fixed.nav-fixed_active {
  top: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.nav-fixed__text {
  color: #585858;
}

.nav-fixed__text .nav-fixed__num span:first-child {
  font-size: 11px;
  margin-right: 3px;
}

.nav-fixed__text .nav-fixed__num span:last-child {
  font-size: 30px;
  font-weight: 300;
}

.nav-fixed__text .nav-fixed__typo-text {
  width: 200px;
  margin-left: 10px;
  font-size: 13px;
  line-height: 1.3em;
}

.nav-fixex__btn {
  padding: 8px 12px;
  background: #030303;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
  border-radius: 3px;
}

.nav-fixex__btn:hover {
  background: #595959;
}

.filter-bar {
  width: 300px;
  height: 100vh;
  background: #fff;
  z-index: 900;
  transition: all 0.3s ease;
  top: 63px;
  left: -300px;
}

.filter-bar.filter-bar_active {
  left: 0;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

.filter-bar .filter-bar__wrapper {
  padding: 30px 30px 100px 60px;
  height: 100vh;
}

.filter-bar .filter-bar__heading {
  font-size: 14px;
  color: #292929;
  margin-bottom: 15px;
}

.filter-bar .filter-bar__hr {
  border: none;
  background: #eeeeee;
  margin-bottom: 20px;
  height: 1px;
}

.filter-bar .filter-bar__categories {
  margin-bottom: 50px;
}

.filter-bar .filter-bar__categories li {
  cursor: pointer;
  transition: all 0.3s ease;
  color: #a5a5a5;
  margin-bottom: 10px;
  font-size: 14px;
}

.filter-bar .filter-bar__categories li:hover {
  color: #757575;
}

.items__row {
  padding-top: 20px;
}
