/* Ava Styles */
$transition: all .3s ease;
$test: 1px dashed red;
$text-color: #292929;

.nav-fixed__text-ava {
	font-size: 14px;

	a {
		text-decoration: none;
		font-size: 14px;
		padding: 7px 13px;
		transition: $transition;
		border-radius: 3px;

		&:first-child {
			border: 1px solid #666666;
			color: #666666;
			margin-right: 8px;
		}

		&:last-child {
			background: #2465f7;
			color: #f4f7ff;
			margin-left: 8px;

			&:hover {
				background: #427af7;
			}
		}
	}
}

.view-block {
	bottom: -80px;
	left: 0;
	height: 80px;
	background: rgba(0, 0, 0, 0.8);
	color: #f7f7f7;
	width: 100%;
	z-index: 9999;
	transition: $transition;

	p {
		width: 100%;
		font-size: 15px;
	}
}

/* Introduction */

.introduction { padding: 100px 0; }

.introduction__wrapper {
	width: 650px;
	margin-bottom: 60px;
	

	.introduction__title {
		color: $text-color;
		margin-bottom: 20px;
	}

	.introduction__text {
		color: #646464;
		line-height: 1.8em;
		font-size: 17px;
		margin-bottom: 20px;
	}

	.introduction__list {
		list-style-type: disk;
		margin-left: 17px;
		margin-bottom: 20px;
		
		li {
			margin-bottom: 9px;
			color: #646464;
			line-height: 1.8em;
			display: list-item;
			font-size: 17px;
		}
	}

	.introduction__link {
		color: #646464;
		font-size: 18px;

		span { opacity: 0; transition: $transition; }

		&:hover {
			color: #2465f7;

			span { opacity: 1; }
		}
	}

	img { width: 100%; margin-top: 20px; margin-bottom: 30px; }
}

/* Features */

.features__item {
	width: 940px;
	border-bottom: 1px solid #eeeeee;
	padding: 35px 0;
	overflow: hidden;
	cursor: pointer;

	.features__title { font-size: 28px; transition: $transition; cursor: pointer; }

	.features__open {
		font-size: 50px;
		font-weight: 300;
		transition: $transition;
		cursor: pointer;

		&.features__open_rotate { transform: rotate(45deg); }
	}

	&:hover {
		.features__title, .features__open { color: #2465f7; }
	}

	.features__item-drop-wrap { 
		margin-top: -1200px;
		transition: $transition;

		&.feature_show { margin-top: 0; }
	}

	.features__item-dropdown {
		height: auto;
		overflow: hidden;

		.features__item-dropdown-inner {
			padding: 40px 0 0 0;


			.feature__one-title {
				font-size: 21px;
				font-weight: 600;
			}

			.feature__one-desc-item {
				width: 320px;
				line-height: 1.8em;
				color: #656565;

				strong { color: $text-color; }

				&:last-child { margin-left: 65px; }
			}
		}

		.feature__one-desc-row { margin-bottom: 45px; }
	}

	.feature__hr { height: 1px; border: none; background: #eee; }
}


/* Price */

.price {
	padding: 100px 0 70px 0;
	overflow: hidden;

	.price__item {
		padding: 77px 100px;
		cursor: pointer;
		text-decoration: none;

		.price__heading {
			font-size: 15px;
			color: $text-color;
			margin-bottom: 30px;
		}

		.price__cost {
			margin-bottom: 25px;
			span {
				font-size: 100px;
				font-weight: 300;
				display: inline-block;
				color: $text-color;
			}

			.bux { font-size: 19px; margin-right: 8px; margin-top: 10px; margin-left: 10px; }
		}

		

		.price__list {
			color: #757575;
			margin-bottom: 30px;

			li {
				font-size: 14px;
				margin-bottom: 17px;
			}
		}

		.price__hr {
			border: none;
			height: 1px;
			background: $text-color;
			margin-bottom: 40px;
			width: 20px;
		}

		& * { cursor: pointer; z-index: 100; }

		.price__bg {
			background: #f6f6f6;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			transition: $transition;

			&.onleft { left: -410px; }

			&.onright { left: 430px; }
		}

		.price__popular {
			width: 80px;
			height: 80px;
			background: #2465f7;
			border-radius: 50%;
			top: 20px;
			right: 20px;
			color: #fff;
			font-size: 14px;
			opacity: 0;
			transition: $transition;
		}

		&:hover {
			.price__popular { opacity: 1; }
		}
	}
}