/* Contact Styles */
$transition: all .3s ease;
$test: 1px dashed red;
$text-color: #292929;

.about {
	padding: 92px 0 60px 0;

	.about__item {
		color: $text-color;
		text-decoration: none;
		cursor: pointer;
		transition: $transition;
		background: #f6f6f6;
		width: 385px;
		padding: 120px 55px;

		&:hover { transform: scale(1.05); }

		& * { cursor: pointer; }

		.about__title {
			font-size: 17px;
			margin-bottom: 30px;
		}

		i {
			font-size: 62px;
			margin-bottom: 22px;
		}

		.about__text {
			color: #787878;
			line-height: 1.8em;
			font-size: 15px;
		}
	}
}