$transition: all .3s ease;
$test: 1px dashed red;
$text-color: #292929;

body {
    font-family: 'Open-Sans', sans-serif;
    color: $text-color;
}

.container {
    width: 1215px;
    margin: 0 auto;
    // border: $test;
}

// .clearfix:after {
//     content: "";
//     display: table;
//     width: 100%;
//     clear: both;
// }

.f-left { float: left; }

.f-right { float: right; }

.upper { text-transform: uppercase; }

.capitalize { text-transform: capitalize; }

.italic { font-style: italic; }

.light { font-weight: 300; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }

.relative { position: relative; }

.absolute { position: absolute; }

.fixed { position: fixed; }

.d-inline { display: inline; }

.d-inline-block { display: inline-block; }

.d-block { display: block; }

.d-flex { display: flex; }

.d-none { display: none; }

.m-auto { margin: 0 auto; }

.flex-wrap { flex-wrap: wrap; } 

.justify-content-center { justify-content: center; }

.justify-content-around { justify-content: space-around; }

.justify-content-between { justify-content: space-between; }

.align-items-center { align-items: center; }

.flex-start-h { justify-content: flex-start; }

.flex-end-h { justify-content: flex-end; }

.flex-start-v { align-items: flex-start; }

.flex-end-v { align-items: flex-end; }

.flex-column { flex-direction: column; }

div, a, span, input, textarea, button { box-sizing: border-box; }

input, textarea, button { outline: none; }

h1, h2, h3, h4, p, span { 
    cursor: default; 
    margin: 0;
}

ul, li { 
    display: block;
    margin: 0;
    padding: 0;
}

.blur { filter: blur(10px); }

/* Hero Section */

.nav-menu__fixed {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: $transition;

    &.nav-fixed_active {
        height: 100vh;
        z-index: 998;
        opacity: 1;
    }

    .nav-fixed__text {
        margin-top: 100px;
        font-size: 20px;
        line-height: 1.8em;
        font-weight: 600;
    }

    .nav__dropdown-menu {
        width: 100%;
        text-align: center;
        display: none;
        margin-top: 50px;
       
        .nav__dropdown-item {
            margin-top: 24px;

            a {
                color: $text-color;
                text-decoration: none;
                transition: $transition;
                font-size: 22px;
                font-weight: 500;

                &:hover { color: $text-color; }
            }
        }

        .navbar-drop__btn {
            color: #fafbff;
            padding: 10px 15px;
            background: #2465f7;
            border-radius: 3px;
            text-decoration: none;
            transition: all 0.1s ease;
            font-size: 15px;
            font-weight: 600;
            margin-top: 30px;

            &:hover {
                background: #3570f5;
            }
        }

        &.drop-menu_active { display: block; }
    }
}

.message {
    bottom: 25px;
    right: 30px;
    z-index: 997;

    .message__btn {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background: #222222;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 20px #aaa;
        transition: $transition;

        i {
            opacity: 1;
            transition: $transition;

            &.mes_non_active { opacity: 0; }
        }

        &.mes_shadow {
            background: #555;
        }
    }

    .message__popup {
        width: 420px;
        height: 250px;
        color: #898989;
        top: -280px;
        left: -370px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 0 20px #888;

        input {
            width: 100%;
            height: 53px;
            padding-left: 25px;
            border: none;
            border-bottom: 1px solid #ddd;
        }

        button {
            right: 0;
            top: 0;
            height: 53px;
            background: transparent;
            border: none;
            cursor: pointer;
            color: #ddd;
            padding-right: 22px;
            transition: $transition;
            font-size: 22px;

            &:hover {
                color: #ccc;
            }
        }

        ol {
            padding-top: 60px;

            li {
                margin-bottom: 15px;

                a {
                    color: #898989;
                    text-decoration: none;
                    transition: $transition;

                    &:hover {
                        text-decoration: underline;
                        color: #030303;
                    }
                }
            }
        }

        hr {
            width: 100%;
            height: 1px;
            background: #ddd;
            border: none;
        }

        .message__popup-footer {
            text-align: right;
            margin-top: 25px;

            a {
                padding: 12px 30px;
                background: #222222;
                transition: $transition;
                color: #fff;
                text-decoration: none;
                border-radius: 3px;
                margin: 25px 25px 0 0;
                font-size: 14px;

                &:hover {
                    background: #000;
                }
            }
        }

        &.mes_p_active { display: block; }
    }
}

.burger-menu {
    width: 35px;
    height: auto;
    cursor: pointer;

    span {
        height: 2px;
        background: #000;
        width: 100%;
        margin-bottom: 10px;
        display: block;
        cursor: pointer;
        transition: $transition;

        &:nth-child(1) { top: -15px; }

        &:nth-child(1).burger_1_active { transform: rotate(45deg); }

        &:nth-child(2).burger_2_active { transform: rotate(-45deg); top: -15px; }
    }
}

.navbar {
    padding: 30px 0;
    background: #fff;

    .navbar__menu {
        width: 350px;

        a {
            color: #9b9b9b;
            text-decoration: none;
            transition: $transition;
            font-size: 15px;
            font-weight: 300;

            &:hover { color: $text-color; }
        }
    }

    .navbar__btn {
        color: #fafbff;
        padding: 10px 15px;
        background: #2465f7;
        border-radius: 3px;
        text-decoration: none;
        transition: all 0.1s ease;
        font-size: 15px;
        font-weight: 600;

        &:hover {
            background: #3570f5;
        }
    }
}

.offer {
    padding: 50px 0 100px 0;
    width: 100%;

    .offer__text {
        width: 750px;
        font-weight: 500;
        line-height: 1.6em;
        color: #505050;
    }
}

/* First Banner */

.first-banner__wrapper {
    width: 100%;
    height: 970px;
    background: #f6f6f6;
    padding: 100px 0;

    .first-banner__wrapper-inner {
        height: 90%;
        width: 84%;

        a {
            width: 100%;
        
            .first-banner__only {
                width: 100%;
                height: auto;
                transition: all 0.5s ease;
                box-shadow: 2px 28px 50px #ddd;

                &:hover {
                    box-shadow: 5px 40px 70px #ccc;
                    transform: scale(0.99);
                }
            }

            &:nth-child(2) {
                padding-top: 120px;
                img {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

.first-banner__slide {
    display: none;

    &.active { display: block; }
}

.first-banner__text {
    padding: 70px 100px 0 100px;
    color: #a7a7a7;
    font-size: 15px;
    width: 84%;
}

.bold-letters {
    font-weight: 800;
    color: #282828;
    font-size: 16px;
}

.first-banner__controls {
    width: 100px;

    .first-banner__controls-item {
        font-size: 31px;
        cursor: pointer;
        color: #cdcdcd;
        transition: $transition;

        &:hover { color: #282828; }

        &.active { color: #282828; }
    }
}

/* Items */

.items__row {
    padding-top: 50px;

    .items__col { width: 580px; }

    .items__col-item {
        width: 100%;
        background: #f6f6f6;
        height: auto;
        padding: 65px;
        cursor: pointer;
        margin-bottom: 50px;

        .item__col-item {
            .item__hover {
                top: 0;
                left: 0;
                height: 99.4%;
                width: 100%;
                background: rgba(255, 255, 255, 0.4);
                opacity: 0;
                transition: $transition;

                .item__col-btns {
                    height: 100px;
                    width: 100%;

                    .item__col-btn {
                        padding: 9px 0;
                        width: 200px;
                        text-align: center;
                        border-radius: 3px;
                        color: #fff;
                        text-decoration: none;
                        transition: $transition;
                        background: #000;
                        margin-bottom: 10px;
                        font-size: 17px;
                        font-weight: 500;

                        &:last-child {
                            background: transparent;
                            border: 2px solid #000;
                            color: #000;
                        }

                        &:first-child:hover {
                            background: #191919;
                        }
                    }
                }
            }

            img {
                transition: all 0.5s ease;
                box-shadow: 2px 28px 50px #bbb;

                &:hover {
                    box-shadow: 5px 40px 70px #bbb;
                }
            }
        }

        &:hover {
            .item__hover { opacity: 1; }
        }
    }
}

.items__col-text {
    padding: 30px 0 0 0;
    color: #a7a7a7;
    font-size: 15px;
}

/* Tesimonials */

.test {
    padding-top: 70px;

    .test__heading { margin-bottom: 30px; font-size: 17px; }

    .test__review-text {
        width: 700px;
        font-weight: 500;
        font-size: 26px;
        line-height: 1.6em;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        color: #343434;
    }

    .test__reviews-author {
        color: #757575;
    }

    .test__peoples { 
        margin-top: 80px; 

        img {
            cursor: pointer;
            margin-bottom: 5px;
            transition: $transition;

            &:hover { transform: scale(1.05); }
        }
    }

    .test__reviews-item { 
        display: none; 

        &.test_active { display: block; }
    }
}

/* Clients */

.clients__wrapper { padding: 20px 30px; }

/* Footer */

.footer {
    padding: 70px 0 100px 0;

    .footer__nav {
        margin-left: 100px;

        .footer__menu-list {
            margin-right: 100px;

            li {
                margin-bottom: 13px;

                a {
                    color: #adadad;
                    transition: $transition;
                    text-decoration: none;

                    &:hover {
                        color: #646262;
                    }
                }
            }
        }
    }

    .footer__rights {
        margin-top: 60px;
        color: #adadad;
    }

    .footer__nav_3 {
        a {
            span {
                opacity: 0;
                transition: $transition;
            }

            &:hover {
                span { opacity: 1; }
            }
        }
    }
}
