/* Themes Styles */
$transition: all .3s ease;
$test: 1px dashed red;
$text-color: #292929;

.offer__text {
	a {
		text-decoration: none;
		transition: $transition;
		color: #0022ff;

		&:hover { text-decoration:  underline; }
	}
}

.nav-fixed {
	width: 100%;
	height: 65px;
	z-index: 1010;
	background: #fff;
	padding-top: 17px;
	transition: $transition;
	top: -65px;

	.nav-fixed__filter {
		cursor: pointer;

		i {
			font-size: 24px;
			transition: $transition;
			color: $text-color;
			opacity: 1;

			&:last-child { font-size: 20px; }

			&.f_nav_opac { opacity: 0 !important; }
		}

		span {
			cursor: pointer;
			transition: $transition;
			font-size: 14px;
			color: $text-color;
			padding-left: 35px;
			padding-top: 2px;
		}

		&:hover {
			i {
				color: #575757;
			}

			span {
				color: #575757;
			}
		}
	}

	&.nav-fixed_active {
		top: 0;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
	}
}

.nav-fixed__text {
	color: #585858;

	.nav-fixed__num {
		span:first-child { font-size: 11px; margin-right: 3px; }

		span:last-child { 
			font-size: 30px; 
			font-weight: 300;
		}
	}

	.nav-fixed__typo-text {
		width: 200px;
		margin-left: 10px;
		font-size: 13px;
		line-height: 1.3em;
	}
}

.nav-fixex__btn {
	padding: 8px 12px;
	background: #030303;
	color: #fff;
	text-decoration: none;
	transition: $transition;
	font-size: 14px;
	border-radius: 3px;

	&:hover { background: #595959; }
}

.filter-bar {
	width: 300px;
	height: 100vh;
	background: #fff;
	z-index: 900;
	transition: $transition;
	top: 63px;
	left: -300px;

	&.filter-bar_active { left: 0; box-shadow : 1px 0px 10px 1px rgba(0, 0, 0, 0.15); }

	.filter-bar__wrapper {
		padding: 30px 30px 100px 60px;
		height: 100vh;
	}

	.filter-bar__heading {
		font-size: 14px;
		color: #292929;
		margin-bottom: 15px;
	}

	.filter-bar__hr {
		border: none;
		background: #eeeeee;
		margin-bottom: 20px;
		height: 1px;
	}

	.filter-bar__categories {
		margin-bottom: 50px;

		li {
			cursor: pointer;
			transition: $transition;
			color: #a5a5a5;
			margin-bottom: 10px;
			font-size: 14px;

			&:hover { color: #757575; }
		}
	}
}

.items__row { padding-top: 20px; }